.projectContainer{
      margin : 30px 20px 0px 20px;
    p{
        margin-top: 30px;
        font-size: 18px;
        font-weight: 600;
    }
    .filter{
        margin-left: 10px;
        font-size: 18px;
        font-weight: 600;
        border: 1px solid green;
        padding: 10px 20px;
        border-radius: 8px;
        color: green;
    }
    .addNew{
        margin-left: 10px;
        background: green;
        color: white;
        padding: 10px 20px;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 600;
    }
    .deleteIcon {
        margin-left: 10px;
        color: rgb(139, 9, 9);
        padding: 10px 20px;
        border-radius: 15px;
        font-size: 18px;
        font-weight: 600;
        height: 100px;
        border: 2px solid red; /* Red border */
      }
      .editIcon {
        margin-left: 10px;
        background: transparent; /* Set background to transparent */
        color: black;             /* Set icon color to black */
        padding: 10px 20px;
        border: 2px solid black; /* Add a black border */
        border-radius: 8px;
        font-size: 18px;
        font-weight: 600;
      }
}
.tableWrapper{
    background-color: #fff;
    border-radius: 8px;
    margin: 30px 10px 20px 45px;
    padding: 10px;
    overflow-x: auto;
    max-width: 1600px;
}

.closeBtn {
    background: none;
    position: absolute;
    right: 13px;
    top: 13px;
  }

  .saveBtn button {
    border: 1px solid #316cf4;
    min-width: 150px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
  }